body {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align:center;
}

h1{
  margin: 0 0 20px;
  font-size: 28px;
}

.question {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.choices button {
  display: block;
  font-family: 'Noto Sans JP', serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #333;
  font-weight: 700;
  border: solid 3px #333;
  box-sizing: border-box;
  transform: skewX(-25deg);
  max-width: 300px;
  text-align: center;
  padding: 16px 64px;
  margin: 24px;
  margin-inline: auto;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.hidden {
  display: none;
}

.next button {
  font-family: 'Noto Sans JP', serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 700;
  display: block;
  position: relative;
  box-sizing: border-box;
  max-width: 250px;
  text-align: center; 
  padding: 4px 40px 4px 30px;
  margin: 24px;
  margin-inline: auto;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  border-top: none;
  border-right: none;
  border-left: solid 2px #333;
  border-bottom: solid 3px #333;
  background-color: transparent;
  transform: skewX(-25deg);
}

.result {
  font-family: 'Noto Sans JP', serif;
  font-size: 68px;
  text-shadow: 5px 5px #558abb;
  font-weight: bold;
}